body, html {
    height: 100%;
    margin: 0;
  }
  img{
    margin: 20px;
    width: 100px;
  }
  .bgimg {
    background-image: url('https://i.pinimg.com/originals/cf/d4/45/cfd445609fd328ed1e7f572d0d070fc0.jpg');
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
    font-family: "Courier New", Courier, monospace;
    font-size: 25px;
  }
  
  .topleft {
    position: absolute;
    top: 0;
    left: 16px;
  }
  
  .bottomleft {
    position: absolute;
    bottom: 0;
    left: 16px;
  }
  
  .middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  hr {
    margin: auto;
    width: 40%;
  }
